.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #cf2c7e, #506b11 48%, #1385e2);
}

.auth-form-container, .login-form, .sign_up-form, .user-form, .home-form{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
}

input[type=checkbox] {
  transform: scale(2);
  margin-left: .5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

button:hover{
  background-color: #7439db;
  color:#FFFFFF;
  transition: all 0.3s ease;
}

.link-btn {
  background-color: #FFFFFF;
  color: red;
  
}

.link-btn:hover {
  background-color: red;
  color:#FFFFFF;
  transition: all 0.3s ease;
}

.homebuttonstyle {
  background-color: "white";
  color: black;
  border-radius: 60;
  flex: 1;
  height: 30;
  width: 30;
}

img {
  margin-left: 100px;
  margin-right: 100px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease-in-out;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  color: black;
}

.popup-inner .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
  padding: 10px;
}

th{
background-color: black;
color: #ffe221;
}

.headin{
text-align: center;
text-decoration: none;
color: #ffe221;
margin: 30px;
display: block;
}

.wpos{
text-align: center;
}

.wpos td{
color: #77ff21;
background-color: #000000;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #FFFFFF;
  transition: all 0.678s ease;
  
}